# Zadania z programowania komputerów dotyczące
# Struktur danych, Warunków, Pętli, Operatorów dodatkowych

## Zad. 1
### Zadeklarować listę ```lista1``` o wartościach od 1 do 8 nie wymieniając ich jedna po drugiej

In [2]:
lista1

[0, 1, 2, 3, 4, 5, 6, 7]

## Zad. 2
### Do ```lista1``` dodać kolejny element o wartości ```7```

In [4]:
lista1

[0, 1, 2, 3, 4, 5, 6, 7, 7]

## Zad. 3
### Wyświetlić wartość 5 elementu z ```lista1```

4

## Zad. 4
### Z ```lista1``` wyświetlić co 3 element poczynająć od pierwszego

[0, 3, 6]

## Zad. 5
### Proszę z ```lista1``` usunąć trzeci element

2

In [8]:
lista1

[0, 1, 3, 4, 5, 6, 7, 7]

## Zad. 6
### Proszę założyć słownik ```sl1``` z danymi:

```
'PL': 312
'US': 9000
'RU': 14000```
oraz wyświetlić wartość dla klucza```'RU'```

14000

## Zad. 7
### Proszę w oparciu o ```lista1``` założyć odpowiednią strukturę ```s1``` w której nie powtórzą się żadne wartości z ```lista1```

In [11]:
s1

{0, 1, 3, 4, 5, 6, 7}

## Zad. 8
### Proszę zadeklarować zmienną ```lcount``` i napisać kod, który podstawi pod nią liczbę elementów o wartościach mniejszych niż ```5``` z ```lista1```

In [13]:
lcount

4

## Zad. 9
## Z ```lista1``` wyświetlić wartości, które są większe od ```3``` i mniejsze równe ```5```

4
5

## Zad. 10
### Zadeklarować zmienną ```lista2``` i podstawić pod nią ```8``` losowych liczb z przedziału ```0 - 15```

In [16]:
lista2

[6, 0, 5, 15, 1, 5, 9, 8, 4, 5, 10, 10, 13, 9, 3, 2]

## Zad. 11
### Z ```lista1``` wyświetlić tylko te liczby, które pojawią się na ```lista```

0
1
3
4
5
6