## Zad. 1
Pod zmienną ``` a1 ``` podstawić pierwiastek kwadratowy z liczby 2 podniesionej do potęgi 8

In [2]:
a1

16.0

## Zad. 2
Pod zmienną ``` a2 ``` podstawić powielony 20 razy tekst '10'

In [4]:
a2

'1010101010101010101010101010101010101010'

## Zad. 3
Pod zmienną ``` a3 ``` wyświetlić resztę dzielenia liczby 10 przez 5

In [6]:
a3

0

## Zad. 4
Wykorzystując podstawowe operatory matematyczne pod zmienną ``` a4 ``` podstawić wartość wyrażenia korzystając z cyfr 2, 4, 0 tak, aby przyjęło wartość 1

_Każdą z cyfr można użyć tylko raz_

In [8]:
a4

1

## Zad. 5
Zwiększyć wartość zmiennej ``` a4 ``` (_obliczonej w poprzednim zadaniu_) o 1 korzystając z wyrażenia, ale bez użycia operatora dodawania po znaku ``` = ```

In [10]:
a4

2

## Zad. 6
Dodać poniżej komórkę zadeklarować w niej i zaproponować nazwy dla zmiennych, które pozwolą na obliczenie podatku VAT na podstawie ceny netto oraz stawki podatku VAT

## Zad. 7
Dodać poniżej komórkę i wprowadzić w niej zmienną kwota_vat i podstawić formułę, która obliczy kwotę VAT dla podanych powyżej zmiennych

## Zad. 8
Dodać poniżej komórkę i zadeklarować w niej zmienną ``` a8 ``` a następnie przemnożyć ją o wartość w niej zapisaną

## Zad. 9
Zadeklarować zmienną ```a9 = 'To jest tekst, który będzie przetwarzany' ``` a wyświetlić z ilu znaków się składa

40

## Zad. 10
Wykorzystując zmienną ```a9``` wyświetlić:
- tekst ze zmiennej  od wyrazu 'który'
- tekst 10 ostatnich znaków pisanych wspak
-

('który będzie przetwarzany', 'ynazrawte')

## Zad. 11
Przy użyciu funkcji ``` format ``` Wprowadzić zmienną ``` a11 ``` pod którą zostanie podstawion tekst 'Ala ma ...' a w miejsce gdzie są trzy kropki zostanie wstawiony tekst zapisany w zmiennej:

``` a11_wstaw = 'kota'```

In [14]:
a11

'Ala ma kota'

## Zad. 12
Wprowadzić zmienne 

```nazwa_1 = 'jabłko'
liczba_1 = 3.4 
nazwa_2 = 'gruszka'
liczba_2 = 5.6```

i wykorzystująć funkcję ```print``` 
wyświetlić tabelę zgodnie z efektem poniżej (_szerokość tabeli to 30 znaków_) bez użycia spacji oraz wielokrotnego wpisywania tego samego znaku (np: _'--'_ jest niedozwolone)

------------------------------
|   jabłko    |          3.40|
------------------------------
|   gruszka   |          5.60|
------------------------------